.center {
  position: absolute;
  left: 50%;
  margin-left: -100px;
}

.main {
  padding: 2em;
  color: black;
}

.loader {
  border: 20px solid #f3f3f3;
  border-radius: 50%;
  border-top: 20px solid;
  border-bottom: 20px solid;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  margin-left: 23%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    border-top: 20px solid #FFD390;
    border-bottom: 20px solid #FFD390;
  }
  100% {
    transform: rotate(360deg);
    border-top: 20px solid #f29a15;
    border-bottom: 20px solid #f29a15;
  }
}

#schedules>tr:hover {
  cursor: pointer;
  background-color: gray;
}